<form [formGroup] ="form" (ngSubmit)="save()">
  <mat-form-field appearance="outline" class="full">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title"/>
     @if (form.controls['title'].hasError('required')) {
       <mat-error>Title is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Amount</mat-label>
    <input matInput type="number" formControlName="amount"/>
    @if (form.controls['amount'].hasError('min')) {
      <mat-error>Amount must be positive</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Category<</mat-label>
    <mat-select formControlName="category">
      <mat-option value="Food">Food</mat-option>
      <mat-option value="Transport">Transport</mat-option>
      <mat-option value="Utilities">Utilities</mat-option>
      <mat-option value="Other">Other</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date</mat-label>
    <input matInput type="date" formControlName="date" />
  </mat-form-field>


  <div class="actions">
    <button mat-raised-button color="primary" type="submit">Save</button>
    <button mat-raised-button routerLink="/expenses"> Cancel</button>
  </div>
</form>
